{% extends "layouts.html" %} {% load static %} {% block pagecontent %}
<!-- djangotemplates/example/templates/base.html -->

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="col-xl">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Tambahkan Customer</h5>
      </div>
      <div class="card-body">
        {% if  error_message != None%}
        
        <div class="btn btn-danger btn-sm mb-3 disabled" disabled> {{error_message}}</div>
        {% endif %}
        
        <form method="post" enctype="multipart/form-data" id="cust">
          {% csrf_token %}
          <div class="mb-3">
            <label class="form-label" for="customer_name">Nama Customer</label>
            <div class="input-group input-group-merge">
              <span class="input-group-text"><i class="ti ti-user"></i></span>
              <input type="text" class="form-control" id="customer_name" name="customer_name" placeholder="JohnDoe" aria-label="JohnDoe" aria-describedby="basic-icon-default-fullname2" required />
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="address">Address</label>
            <div class="input-group input-group-merge">
              <span class="input-group-text"><i class="ti ti-location"></i></span>
              <textarea class="form-control" id="address" name="address" placeholder="Jl. ABC" aria-label="Jl. ABC" aria-describedby="basic-icon-default-fullname2" required></textarea>
              {% comment %} <input type="text" class="form-control" id="address" name="address" placeholder="JohnDoe" aria-label="JohnDoe" aria-describedby="basic-icon-default-fullname2" required /> {% endcomment %}
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="cp">Contact Person</label>
            <div class="input-group input-group-merge">
              <span class="input-group-text"><i class="ti ti-user"></i></span>
              <input type="text" class="form-control" id="cp" name="cp" placeholder="Alex Dhoe" aria-label="alexDhoe" aria-describedby="basic-icon-default-fullname2" required />
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="hp">HP</label>
            <div class="input-group input-group-merge">
              <span class="input-group-text"><i class="ti ti-phone"></i></span>
              <input type="hp" class="form-control" id="hp" name="hp" placeholder="08xx" required />
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="photo">Photo</label>
            <div class="input-group input-group-merge">
              <input type="file" class="form-control" id="photo" name="photo" accept="image/*" aria-describedby="basic-icon-default-photo2" required />
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="map">Pilih Lokasi pada Peta</label>
            <div id="map" style="height: 300px"></div>
            <input type="hidden" id="lat" name="lat" />
            <input type="hidden" id="lon" name="lon" />
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block addScript %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
      // Inisialisasi peta
      var map = L.map('map').setView([-6.1661686, 106.8717686], 13);

      // Tambahkan peta dasar
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '© OpenStreetMap contributors'
      }).addTo(map);

      // Tambahkan marker yang dapat dipindahkan
      var marker = L.marker([-6.1661686, 106.8717686], { draggable: true }).addTo(map);

      // Tangkap perubahan posisi marker
      marker.on('dragend', function (event) {
          var marker = event.target;
          var position = marker.getLatLng();

          // Set nilai input lat dan lon
          document.getElementById('lat').value = position.lat.toFixed(6);
          document.getElementById('lon').value = position.lng.toFixed(6);
          console.log(position.lat);
          console.log(position.lng);
      });

      // Tambahkan listener untuk formulir disubmit
      document.getElementById('cust').addEventListener('submit', function (event) {
          // Update nilai default di model dengan nilai yang telah diubah oleh pengguna
          document.getElementById('lat').value = document.getElementById('lat').value;
          document.getElementById('lon').value = document.getElementById('lon').value;

          // Tambahkan logika validasi lainnya sebelum formulir disubmit

          // Contoh validasi sederhana
          var lat = parseFloat(document.getElementById('lat').value);
          var lon = parseFloat(document.getElementById('lon').value);

          if (isNaN(lat) || isNaN(lon) || lat < -90 || lat > 90 || lon < -180 || lon > 180) {
              alert('Latitude dan longitude tidak valid.');
              event.preventDefault(); // Mencegah formulir dikirim jika validasi gagal
          } else {
              console.log('Form submitted!');
          }
      });
  });
</script>
{% endblock %}
