{% extends "layouts.html" %} {% load static %} {% block pagecontent %}
<!-- djangotemplates/example/templates/base.html -->

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="card">
    <div class="card-datatable table-responsive pt-0">
      <div
        id="DataTables_Table_0_wrapper"
        class="dataTables_wrapper dt-bootstrap5 no-footer"
      >
        <div class="card-header flex-column flex-md-row">
          <div class="head-label text-center">
            <h5 class="card-title mb-0">Data Customer</h5>
          </div>
          <div class="dt-action-buttons text-end pt-3 pt-md-0">
            <div class="dt-buttons btn-group flex-wrap">
              <a
                class="btn btn-secondary create-new btn-primary"
                tabindex="0"
                aria-controls="DataTables_Table_0"
                type="button"
                href="{% url 'customer_add' %}"
              >
                <span
                  ><i class="ti ti-plus me-sm-1"></i>
                  <span class="d-none d-sm-inline-block"
                    >Tambah Data</span
                  ></span
                >
              </a>
            </div>
          </div>
        </div>
        <table
          class="datatables-basic table dataTable no-footer dtr-column collapsed"
          id="DataTables_Table_0"
          aria-describedby="DataTables_Table_0_info"
          style="width: 1163px"
        >
          <thead>
            <tr>
              <th>Nama Customer</th>
              <th>Alamat</th>
              <th>Contact Person</th>
              <th>Phone</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Created At</th>
              {% comment %} <th class="dtr-hidden" style="display: none">Photo</th>
              <th class="dtr-hidden" style="display: none">Actions</th> {% endcomment %}
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td class="">
                <div
                  class="d-flex justify-content-start align-items-center user-name"
                >
                  <div class="avatar-wrapper">
                    <div class="avatar me-2">
                      {% if user.photo %}
                      <img
                        src="{{ user.photo.url }}"
                        alt="Avatar"
                        class="rounded-circle"
                      />
                      {% else %}
                      <span
                        class="avatar-initial rounded-circle bg-label-primary"
                        >U</span
                      >
                      {% endif %}
                    </div>
                  </div>
                  <div class="d-flex flex-column">
                    <span class="emp_name text-truncate"
                      >{{ user.customer_name }}</span
                    >
                  </div>
                </div>
              </td>
              <td>{{ user.address }}</td>
              <td class="">{{ user.cp }}</td>
              <td class="">{{ user.hp }}</td>
              <td class="">{{ user.lat }}</td>
              <td class="">{{ user.lon }}</td>
              <td class="">{{ user.created_at }}</td>
              <td class="dtr-hidden" style="display: none">
                {% if user.photo %}
                <img
                  src="{{ user.photo.url }}"
                  alt="Photo"
                  class="rounded-circle"
                />
                {% else %}
                <span class="badge bg-label-primary">No Photo</span>
                {% endif %}
              </td>
              <td class="dtr-hidden" style="display: none">
                <div class="d-inline-block">
                  <a
                    {% comment %} href="{% url 'details' user.id %}" {% endcomment %}
                    href="#"
                    class="btn btn-sm btn-icon dropdown-toggle hide-arrow"
                  >
                    <i class="text-primary ti ti-dots-vertical"></i>
                  </a>
                  <!-- Add other actions as needed -->
                </div>
                <a
                  href="#"
                  {% comment %} href="{% url 'edit_user' user.id %}" {% endcomment %}
                  class="btn btn-sm btn-icon item-edit"
                >
                  <i class="text-primary ti ti-pencil"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
