{% extends "layouts.html" %} {% load static %} {% block pagecontent %}
<!-- djangotemplates/example/templates/base.html -->

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="card">
    <div class="card-datatable table-responsive pt-0">
      <div
        id="DataTables_Table_0_wrapper"
        class="dataTables_wrapper dt-bootstrap5 no-footer"
      >
        <div class="card-header flex-column flex-md-row">
          <div class="head-label text-center">
            <h5 class="card-title mb-0">Data Delivery</h5>
          </div>
          <div class="dt-action-buttons text-end pt-3 pt-md-0">
            <div class="dt-buttons btn-group flex-wrap">
              <a
                class="btn btn-secondary create-new btn-primary"
                tabindex="0"
                aria-controls="DataTables_Table_0"
                type="button"
                href="{% url 'delivery_add' %}"
              >
                <span
                  ><i class="ti ti-plus me-sm-1"></i>
                  <span class="d-none d-sm-inline-block"
                    >Tambah Data</span
                  ></span
                >
              </a>
            </div>
          </div>
        </div>
        <table
          class="datatables-basic table dataTable no-footer dtr-column collapsed"
          id="DataTables_Table_0"
          aria-describedby="DataTables_Table_0_info"
          style="width: 1163px"
        >
          <thead>
            <tr>
              <th>No Delivery</th>
              <th>Nama Customer</th>
              <th>Contact Person</th>
              <th>Phone</th>
              <th>Alamat</th>
              <th>Driver</th>
              {% comment %} <th>Status</th> {% endcomment %}
              {% comment %} <th class="dtr-hidden" style="display: none">Photo</th>
              <th class="dtr-hidden" style="display: none">Actions</th> {% endcomment %}
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
            <tr>

              <td>{{ item.no_delivery }}</td>
              <td>{{ item.customer_name }}</td>
              <td class="">{{ item.cp }}</td>
              <td class="">{{ item.hp }}</td>
              <td class="">{{ item.address }}</td>
              <td class="">{{ item.driver_name }}</td>
              {% comment %} <td class="">{{ item.status }}</td> {% endcomment %}
              
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
