{% extends "layouts.html" %} {% block pagecontent %}

<div class="container mt-2">
  <div class="card">
    <div class="card-body">
      <div class="dt-action-buttons text-end pt-3 pt-md-0">
        <div class="dt-buttons btn-group flex-wrap">
          <a class="btn btn-secondary create-new btn-primary" tabindex="0" aria-controls="DataTables_Table_0" type="button" href="{% url 'monitoring1' %}">
            <span><i class="ti ti-arrow-left me-sm-1"></i> <span class="d-none d-sm-inline-block">Kembali</span></span>
          </a>
        </div>
      </div>
      <h4 class="card-title">Pengiriman - {{items.no_delivery}}</h4>

      <p>Customer: {{items.customer_name}}</p>
      <p></p>
      <p>Contact Person: {{items.cp}}</p>
      <p></p>
      <p>Phon: {{items.hp}}</p>
      <p></p>
      <p>Driver: {{items.driver_name}}</p>
      <p></p>
      <div id="map"class="leaflet-map" style="height: 500px"></div>
    </div>
  </div>
</div>

{% block addScript %}

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
{% endblock addScript %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var map = L.map("map");

    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
      attribution: "© OpenStreetMap contributors",
    }).addTo(map);

    var startIcon = L.icon({
      iconUrl: "https://cdn-icons-png.flaticon.com/512/2554/2554978.png",
      iconSize: [60, 60],
      iconAnchor: [16, 32],
      popupAnchor: [0, -32],
    });

    var waypoint1 = L.latLng({{items.driver_lat}}, {{items.driver_lon}});
    var waypoint2 = L.latLng({{items.cust_lat}}, {{items.cust_lon}});

    var waypointsLayer = L.layerGroup([L.marker(waypoint1, { icon: startIcon }), L.marker(waypoint2)]).addTo(map);

    L.Routing.control({
      waypoints: [waypoint1, waypoint2],
      routeWhileDragging: true,
      show: true, // Hide the turn-by-turn directions
      alternatives: true, // Display alternative routes
      createMarker: function (i, waypoint, n) {
        return L.marker(waypoint.latLng, {
          icon: i === 0 ? startIcon : new L.Icon.Default(),
        });
      },
    }).addTo(map);
  });
</script>

{% endblock pagecontent %}
